/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    color: #333;
    height: 100vh;
}
/* header */
.logo {
    font-family: 'Inconsolata', monospace;
    margin: 20px 0 0 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
}
/* main */
main{
    margin-left: 1em;  
}
.center {
    display: flex;
    justify-content: center;
    margin: 64px 0 60px 0;
}
.scarecrow {
    width: 11.2em;
    height: 9.9em;
}
.heading-1 {
    font-size: 2em;
    letter-spacing: -0.035em;
    font-weight: 700;
    line-height: 1.2em;
}
p {
    margin-top: 30px;
    font-size: 18px;
    letter-spacing: -0.035em;
    font-weight: 400;
    line-height: 1.1em;
}
button{
    color: white;
    margin-top: 60px;
    width:216px;
    height: 68px;
    background-color: #333;
}
/* footer */
.footer{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #bdbdbd;
    margin-top: 15vh;
}
