/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
    font-size: 12px;
}

header {
    font-family: 'Inconsolata', monospace;
    font-size: 2rem;
    margin-top: 20px;
    margin-left: 24px;
}
.center {
    display: flex;
    margin-top: 64px;
    justify-content: center;
}
img {
    width: 286px;
    height: 238px;
    margin: 0 auto;
}